<%= form_with(model: requester, local: true) do |form| %>
  <% if requester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requester.errors.count, "error") %> prohibited this requester from being saved:</h2>

      <ul>
      <% requester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :requester_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
