<!DOCTYPE html>
<html>
  <head>
    <title>AY Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <%= link_to  "EPT´s", improvements_path %> |

  <%= link_to  "Diretoria", directors_path %> |

  <%= link_to  "Área", areas_path %> |

  <%= link_to  "Responsável ICT", responsibles_path %> |

  <%= link_to  "Solicitante", requesters_path %> |

  <%= link_to  "Provedor", providers_path %> |

  <%= link_to  "Status", statuses_path %> |

  <%= link_to  "Prioridades", priorities_path %> |

  <%= link_to  "Tipos", types_path %> |

  <%= link_to  "Sistemas", systems_path %> |

  <%= link_to  "Módulos", segments_path %>


  <br/>
  <br/>

    <hr>

    <%= yield %>
  </body>
</html>
